In [6]:
import findspark 

findspark.init() 

from pyspark import SparkContext 

from pyspark.sql import SQLContext 

 

#sc = SparkContext('local', 'Spark SQL')  

#sqlc = SQLContext(sc) 

empleados = sqlc.read.json("C:\\EjemplosApache\\empleados.json") 

 

# PASO MUY IMPORTANTE: Generamos una tabla llamada EMP con los datos del JSON.  

# Al generar la tabla podemos realizar consultas SQL. 

 

empleados.createOrReplaceTempView("EMP") 

 

# Realizamos  consulta SQL 

 

empleadosConsulta = sqlc.sql("SELECT * FROM EMP") 

 

empleadosConsulta.show()

+---------+--------+-------+----+------+------------+----------+-------+
| apellido|comision|dept_no| dir|emp_no|   fecha_alt|    oficio|salario|
+---------+--------+-------+----+------+------------+----------+-------+
|      rey|       0|     10|   0|  7839|nov 17, 1995|PRESIDENTE| 650000|
|    negro|       0|     30|7839|  7698| may 1, 1995|  DIRECTOR| 370500|
|  jimenez|       0|     20|7839|  7566| abr 2, 1995|  DIRECTOR| 386750|
|   cerezo|       0|     10|7839|  7782| jun 9, 1995|  DIRECTOR| 318500|
|   arroyo|   39000|     30|7698|  7499|feb 20, 1994|  VENDEDOR| 208000|
|     sala|   65000|     30|7698|  7521|feb 22, 1995|  VENDEDOR| 162500|
|   martin|  182000|     30|7698|  7654|jul 29, 1995|  VENDEDOR| 162500|
|    tovar|       0|     30|7698|  7844| jul 8, 1995|  VENDEDOR| 195000|
|   jimeno|       0|     30|7698|  7900| dic 3, 1995|  EMPLEADO| 123500|
|fernandez|       0|     20|7566|  7902| dic 3, 1995|  ANALISTA| 390000|
|      gil|       0|     20|7566|  7788| nov 9, 1995|  ANALISTA| 390000|
|  sanchez|       0|     20|7902|  7369|dic 17, 1994|  EMPLEADO| 104000|
|   alonso|       0|     20|7788|  7876|jul 23, 1995|  EMPLEADO| 143000|
|    muñoz|       0|     10|7782|  7934|ene 23, 1996|  EMPLEADO| 169000|
+---------+--------+-------+----+------+------------+----------+-------+

In [7]:
def doble(num):
    result = num*2
    return result

In [8]:
doble(5)

10

In [9]:
def doble(num):
    return num*2

In [10]:
doble(8)

16

In [11]:
doble = lambda num: num*2

In [12]:
doble(10)

20

In [13]:
par = lambda num : num%2 == 0

par(20)

True

In [14]:
mayus = lambda nombre:  nombre.upper()
mayus("perico de los palotes")

'PERICO DE LOS PALOTES'

In [15]:
sumaedades = lambda num1,num2 : num1+num2

sumaedades(5,19)

24

In [18]:
numeros = [1,2,3,4,5,6,7,8,9]
pares = list(filter(lambda num : num%2 == 0,numeros))
for p in pares:
    print(p)

2
4
6
8

In [20]:
listaNombres =["pedro","alberto","rodrigo","ivan","alejandro","andrea","nacho"]
inicioA = list(filter(lambda x : x[0].upper() == "A", listaNombres))
print(inicioA)

['alberto', 'alejandro', 'andrea']

In [24]:
numeros = [1,2,3,4,5,6,7,8,9]
pares = list(map(lambda num : num*2,numeros))
print(pares)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [25]:
from functools import reduce
numeros = [1,2,3,4,5,6,7,8,9]
suma = reduce(lambda x, y: x + y, numeros)
print(suma)

45

In [1]:
import pandas as pd 
 
 
# Crear un DataFrame a partir de un diccionario 
datos = {'Nombre': ['Benito', 'Andrea', 'Floro', 'María'], 
         'Edad': [25, 30, 35, 45], 
         'Ciudad': ['Madrid', 'Barcelona', 'Sevilla', 'Valencia']} 
 
 
 
df = pd.DataFrame(datos) 
 
# Mostrar el DataFrame 
print('\n*** DATA FRAME ***') 
print(df) 
 
# Filtrar filas basado en una condición 
print('\n*** DATA FRAME FILTRADO ***') 
df_filtrado = df[df['Edad'] > 30] 
print(df_filtrado) 
 
# Ordenar el DataFrame por una columna 
print('\n*** DATA FRAME ORDENADO POR EDAD ***') 
df_ordenado = df.sort_values('Edad') 
print(df_ordenado)

*** DATA FRAME ***
   Nombre  Edad     Ciudad
0  Benito    25     Madrid
1  Andrea    30  Barcelona
2   Floro    35    Sevilla
3   María    45   Valencia

*** DATA FRAME FILTRADO ***
  Nombre  Edad    Ciudad
2  Floro    35   Sevilla
3  María    45  Valencia

*** DATA FRAME ORDENADO POR EDAD ***
   Nombre  Edad     Ciudad
0  Benito    25     Madrid
1  Andrea    30  Barcelona
2   Floro    35    Sevilla
3   María    45   Valencia

In [2]:
import pandas as pd 
 
# Cargar datos desde un archivo CSV 
df = pd.read_csv('C:\\EjemplosApache\\datos.csv', delimiter=';') 
 
 
# Mostrar el DataFrame 
print('\n*** DATA FRAME ***') 
print(df) 
 
print('\n*** PRIMERAS 10 FILAS ***') 
print(df.head(10)) 
 
 
print('\n*** DICCIONARIO ***') 
''' 
Convertir el DataFrame en un diccionario de registros 
Cada registro es un diccionario con: 
* claves correspondientes a los nombres de las columnas 
* valores correspondientes a los datos de cada fila. 
''' 
diccionario = df.to_dict(orient='records') 
 
for registro in diccionario: 
    print(registro)

*** DATA FRAME ***
               nombre  edad     género      ocupación
0          John Smith    27  Masculino      Ingeniero
1       Emily Johnson    35   Femenino     Arquitecta
2        Daniel Brown    42  Masculino         Músico
3        Sophia Davis    29   Femenino     Científica
4       Oliver Wilson    33  Masculino      Diseñador
5         Emma Taylor    31   Femenino      Escritora
6    William Anderson    38  Masculino       Cocinero
7        Ava Martinez    26   Femenino  Investigadora
8      James Thompson    44  Masculino      Fotógrafo
9     Isabella Thomas    30   Femenino        Abogada
10  Benjamin Robinson    36  Masculino       Profesor
11          Mia Clark    28   Femenino        Artista
12    Henry Rodriguez    39  Masculino     Empresario
13    Charlotte Green    32   Femenino      Psicóloga
14        Michael Lee    43  Masculino     Periodista
15    Sophia Mitchell    34   Femenino   Programadora
16       David Carter    37  Masculino         Piloto
17       Olivia Lewis    25   Femenino     Deportista
18      Matthew White    41  Masculino   Investigador
19        Amelia Hall    33   Femenino     Diseñadora
20    Alexander Scott    40  Masculino       Escultor
21    Elizabeth Adams    27   Femenino    Veterinaria
22      Daniel Wright    36  Masculino       Cineasta
23       Sofia Harris    31   Femenino      Ingeniera
24       James Walker    45  Masculino       Escritor
25       Emily Turner    29   Femenino     Arqueóloga
26     Jacob Campbell    38  Masculino         Médico
27         Avery Hill    26   Femenino  Investigadora
28        Logan Baker    42  Masculino      Fotógrafo
29        Chloe Young    30   Femenino     Empresaria
30        Joshua King    35  Masculino         Músico
31       Madison Reed    32   Femenino        Artista

*** PRIMERAS 10 FILAS ***
             nombre  edad     género      ocupación
0        John Smith    27  Masculino      Ingeniero
1     Emily Johnson    35   Femenino     Arquitecta
2      Daniel Brown    42  Masculino         Músico
3      Sophia Davis    29   Femenino     Científica
4     Oliver Wilson    33  Masculino      Diseñador
5       Emma Taylor    31   Femenino      Escritora
6  William Anderson    38  Masculino       Cocinero
7      Ava Martinez    26   Femenino  Investigadora
8    James Thompson    44  Masculino      Fotógrafo
9   Isabella Thomas    30   Femenino        Abogada

*** DICCIONARIO ***
{'nombre': 'John Smith', 'edad': 27, 'género': 'Masculino', 'ocupación': 'Ingeniero'}
{'nombre': 'Emily Johnson', 'edad': 35, 'género': 'Femenino', 'ocupación': 'Arquitecta'}
{'nombre': 'Daniel Brown', 'edad': 42, 'género': 'Masculino', 'ocupación': 'Músico'}
{'nombre': 'Sophia Davis', 'edad': 29, 'género': 'Femenino', 'ocupación': 'Científica'}
{'nombre': 'Oliver Wilson', 'edad': 33, 'género': 'Masculino', 'ocupación': 'Diseñador'}
{'nombre': 'Emma Taylor', 'edad': 31, 'género': 'Femenino', 'ocupación': 'Escritora'}
{'nombre': 'William Anderson', 'edad': 38, 'género': 'Masculino', 'ocupación': 'Cocinero'}
{'nombre': 'Ava Martinez', 'edad': 26, 'género': 'Femenino', 'ocupación': 'Investigadora'}
{'nombre': 'James Thompson', 'edad': 44, 'género': 'Masculino', 'ocupación': 'Fotógrafo'}
{'nombre': 'Isabella Thomas', 'edad': 30, 'género': 'Femenino', 'ocupación': 'Abogada'}
{'nombre': 'Benjamin Robinson', 'edad': 36, 'género': 'Masculino', 'ocupación': 'Profesor'}
{'nombre': 'Mia Clark', 'edad': 28, 'género': 'Femenino', 'ocupación': 'Artista'}
{'nombre': 'Henry Rodriguez', 'edad': 39, 'género': 'Masculino', 'ocupación': 'Empresario'}
{'nombre': 'Charlotte Green', 'edad': 32, 'género': 'Femenino', 'ocupación': 'Psicóloga'}
{'nombre': 'Michael Lee', 'edad': 43, 'género': 'Masculino', 'ocupación': 'Periodista'}
{'nombre': 'Sophia Mitchell', 'edad': 34, 'género': 'Femenino', 'ocupación': 'Programadora'}
{'nombre': 'David Carter', 'edad': 37, 'género': 'Masculino', 'ocupación': 'Piloto'}
{'nombre': 'Olivia Lewis', 'edad': 25, 'género': 'Femenino', 'ocupación': 'Deportista'}
{'nombre': 'Matthew White', 'edad': 41, 'género': 'Masculino', 'ocupación': 'Investigador'}
{'nombre': 'Amelia Hall', 'edad': 33, 'género': 'Femenino', 'ocupación': 'Diseñadora'}
{'nombre': 'Alexander Scott', 'edad': 40, 'género': 'Masculino', 'ocupación': 'Escultor'}
{'nombre': 'Elizabeth Adams', 'edad': 27, 'género': 'Femenino', 'ocupación': 'Veterinaria'}
{'nombre': 'Daniel Wright', 'edad': 36, 'género': 'Masculino', 'ocupación': 'Cineasta'}
{'nombre': 'Sofia Harris', 'edad': 31, 'género': 'Femenino', 'ocupación': 'Ingeniera'}
{'nombre': 'James Walker', 'edad': 45, 'género': 'Masculino', 'ocupación': 'Escritor'}
{'nombre': 'Emily Turner', 'edad': 29, 'género': 'Femenino', 'ocupación': 'Arqueóloga'}
{'nombre': 'Jacob Campbell', 'edad': 38, 'género': 'Masculino', 'ocupación': 'Médico'}
{'nombre': 'Avery Hill', 'edad': 26, 'género': 'Femenino', 'ocupación': 'Investigadora'}
{'nombre': 'Logan Baker', 'edad': 42, 'género': 'Masculino', 'ocupación': 'Fotógrafo'}
{'nombre': 'Chloe Young', 'edad': 30, 'género': 'Femenino', 'ocupación': 'Empresaria'}
{'nombre': 'Joshua King', 'edad': 35, 'género': 'Masculino', 'ocupación': 'Músico'}
{'nombre': 'Madison Reed', 'edad': 32, 'género': 'Femenino', 'ocupación': 'Artista'}